apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: fastapi-img:latest
        env:
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: fastapi-configmap
              key: LOG_LEVEL
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000